.cent {
  font-size: 5vw;
  text-align: center;
  color: white;
}

.temp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.grey {
  color: grey;
}
