.particle {
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  position: fixed !important;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.title h1 {
  font-size: 10vw;
  text-align: center;
}

@media screen and (min-width: 700px) {
  .title h1 {
    font-size: 100px;
  }
}

.title p {
  font-size: 3vw;
  text-align: center;
  color: white;
}

@media screen and (min-width: 700px) {
  .title p {
    font-size: 17px;
  }
}

#firstName {
  color: white;
}
#lastName {
  color: grey;
}
