.particle {
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  position: fixed !important;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.title h1 {
  font-size: 6vw;
  text-align: center;
}

.title p {
  text-align: center;
  color: white;
}

#firstName {
  color: white;
}
#lastName {
  color: grey;
}
