.navbar-nav {
  width: 100% !important;
  display: inline;
  text-align: center;
}

.navbar-nav > .navlink {
  float: none;
  display: inline-block;
  flex-grow: 1;
  text-align: center;
}

.navbar-light .navbar-nav .navlink {
  font-size: 2em;
  color: white;
}
.greybg {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  padding: 5px;
}

.navbar-light:hover .navbar-nav:hover .navlink:hover {
  color: grey;
  text-decoration: none;
}

.navbar-nav {
  width: 100%;
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-between;
}

.navbar-toggler {
  background-color: rgba(255, 255, 255, 0.5);
}
