.page {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: center;
}

.page h2 {
  color: white;
}

.page.pathfollowing {
}

.page.frc2019 {
  background-image: linear-gradient(
    to top,
    rgba(83, 120, 149, 0) 25%,
    rgba(4, 13, 26, 1) 100%
  );
}

.page.boids {
  background-image: linear-gradient(
    to bottom,
    rgba(83, 120, 149, 0) 25%,
    rgba(4, 13, 26, 1) 100%
  );
}

.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.col {
  height: 100vh;
}

.description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  width: 70%;
}

.description p {
  text-align: justify;
  color: #d8d4bd;
  font-size: 1rem;
}

video,
.yt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  width: 90%;
  background-color: transparent;
}

.description .btn {
  font-size: 1rem;
  width: 50%;
}
@media screen and (min-width: 1200px) {
  .description .btn {
    font-size: 24px;
  }
}

.description > h2 > a {
  color: #16a2b8;
  text-decoration: none;
}

.description > h2 > a:hover {
  color: #1bd4f1;
  text-decoration: none;
}

.robotphoto {
  height: auto;
  width: 100%;
  vertical-align: middle;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: transparent;
}

.test {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(83, 120, 149, 1);
}

* {
  border-radius: 0 !important;
}
